localhost:8000 {
    log {
        output stdout
    }
    reverse_proxy {
        to backend-1:8080 // backend-2:8080 backend-3:8080
        lb_policy round_robin
        health_path /health
        health_interval 5s
        health_timeout 2s
    }
}
